/* Default Styles */
.footer {
    width: 100%;
    background-color: #fcf1f1;
  }
  
  .footer .footer-content {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer .footer-content .col {
    flex: 0 0 100%;
    max-width: 300px;
  }
  
  .footer .footer-content .col .title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bolder;
  }
  
  .footer .footer-content .col .text {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    text-decoration: none;
  }
  
  .footer .footer-content .col .c-item {
    display: flex;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .footer-content .col .c-item svg {
    flex-shrink: 0;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.9);
  }
  
  .footer .footer-content .col span {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .footer .bottom-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .footer .bottom-bar .bottom-bar-content {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  
  /* Media Queries */
  @media only screen and (min-width: 480px) {
    .footer .footer-content {
      padding: 40px;
      gap: 30px;
    }
  
    .footer .footer-content .col {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
  
  @media only screen and (min-width: 768px) {
    .footer .footer-content {
      padding: 50px;
      gap: 40px;
    }
  
    .footer .footer-content .col {
      flex: 0 0 calc(33.33% - 20px);
      max-width: calc(33.33% - 20px);
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .footer .footer-content {
      padding: 60px;
      gap: 50px;
    }
  
    .footer .footer-content .col {
      flex: 0 0 calc(25% - 20px);
      max-width: calc(25% - 20px);
    }
  }
  
  @media only screen and (min-width: 1280px) {
    .footer .footer-content {
      padding: 70px;
      gap: 60px;
    }
  
    .footer .footer-content .col {
      flex: 0 0 calc(20% - 20px);
      max-width: calc(20% - 20px);
    }
  }
  
  @media only screen and (min-width: 1440px) {
    .footer .footer-content {
      padding: 80px;
      gap: 70px;
    }
  
    .footer .footer-content .col {
      flex: 0 0 calc(16.66% - 20px);
      max-width: calc(16.66% - 20px);
    }
  }
  
  @media only screen and (min-width: 1680px) {
    .footer .footer-content {
      padding: 90px;
      gap: 80px;
    }
  
    .footer .footer-content .col {
      flex: 0 0 calc(14.28% - 20px);
      max-width: calc(14.28% - 20px);
    }
  }
 